<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo">
      <a href="index.html"> <img src="style/images/logo.png" alt="" /> </a>
    </div>
    <div id="menu-wrapper">
      <div id="menu" class="menu">
        <ul id="tiny">
          <li><a href="/">Home</a></li>
          <li><a href="/courses">All Courses</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/courses/create">Create Course Offers</a></li>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/register">Register</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
